doctype 5
html
  head
    title argv.pub
    link(rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin="anonymous")
  body
    .container.py-5
      nav.navbar.navbar-expand-sm.navbar-light
        a(href='/').navbar-brand argv.pub
        ul.navbar-nav.mr-auto
          block nav
            li.nav-item
              a(href='/about').nav-link About
            li.nav-item
              a(href='/x').nav-link Login

      .py-3
        block content
