extends ./.layout

block nav
  li.nav-item
    a(href='/about').nav-link.active About
  li.nav-item
    a(href='/x').nav-link Login

block content
  h1 Our principles
  ol
    li Attention is a scarce resource.
    li Accessibility comes first.
    li Engagement is not a good proxy for value.
